*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;

    width:100%;
    height:100vh;
    background-color:#FF8361;
}

#contenedor-principal{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    width:30%;
    height:90vh;
    border-radius:5%;
    background-color:#ffffff;
    overflow:hidden;
}

#contenedor-principal.activa{
    animation-name:to-ligth;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

#contenedor-principal.inactiva{
    animation-name:to-dark;
    animation-duration:1000ms;
    animation-fill-mode: forwards;
}
    
#formulario{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    width:95%;
    height:30%;
    background-color:#ffffff;

}

#formulario.activa{
    animation-name:to-ligth;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

#formulario.inactiva{
    animation-name:to-dark;
    animation-duration:1000ms;
    animation-fill-mode: forwards;
}

#boton-transition{
    align-self:center;
    margin-top:4px;
    width:14%;
    height:30px;

    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#E4E4E4;
    padding:2px;
    border-radius:2px;
}

#boton-transition.activa{
    animation-name:to-lightboton;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

#boton-transition.inactiva{
    animation-name:to-darkboton;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

#boton-transition button{
    border:none;
    background-color:#E4E4E4;
    color:#000000;
    font-size:10px;
    padding:4px;
    border-radius:2px;
}

#boton-transition button.activa{
    animation-name:to-lightboton;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

#boton-transition button.inactiva{
    animation-name:to-darkboton;
    animation-duration:1000ms;
    animation-fill-mode:forwards;   
}

#historial{
    height:50%;

    display:flex;
    justify-content:right;
    align-items: center;
}

#historial p{
    color:#DD7961;
}

#form{
    display:flex;
    justify-content:right;
    align-items:end;
    height:30%;
}

#campo{
    font-size:30px;
    height:80%;
    width:100%;
    background-color:#ffffff;
    color:#000000;
    text-align:end;
    border:none;
    resize: none;
    outline:none;
}

#campo.activa{
    animation-name:to-ligth;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

#campo.inactiva{
    animation-name:to-dark;
    animation-duration:1000ms;
    animation-fill-mode: forwards;
}

#campo:focus{
    border:none;
}

#botones{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    gap:15px;
    row-gap:10px;
    width:100%;
    height:70%;
    border-radius:5%;
    background-color:#F5F5F5;
    padding:10px;
}

#botones.activa{
    animation-name:to-ligth2;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

#botones.inactiva{
    animation-name:to-dark2;
    animation-duration:1000ms;
    animation-fill-mode: forwards;
}

#botones button{
    width:18%;
    height:15%;
    border-radius:20%;
    border-color:none;
    border:none;
    background-color:#ffffff;
}
#botones button.activa{
    animation-name:to-ligth;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

#botones button.inactiva{
    animation-name:to-dark3;
    animation-duration:1000ms;
    animation-fill-mode:forwards;
}

.numeros{
    color:#000000;
}

.signo{
    color:#DD7961;
}

.orange{
    color:#DD7961;
}

.yellow{
    color:#000000;
}

@keyframes to-ligth{
    0%{
        background-color:#21242D;
    }
    100%{
        background-color:#ffffff;
    }
}

@keyframes to-ligth2{
    0%{
        background-color:#21242D;
    }
    100%{
        background-color:#F5F5F5;
    }
}

@keyframes to-dark{
    0%{
        background-color:#ffffff;
    }

    100%{
        background-color:#21242D;
    }
}

@keyframes to-dark2{
    0%{
        background-color:#ffffff;
    }

    100%{
        background-color:#323844;
    }
}

@keyframes to-dark3{
    0%{
        background-color:#ffffff;
    }

    100%{
        background-color:#2A2E39;
    }
}

@keyframes to-lightboton{
    0%{
        background-color:#2A2E39;
    }
    
    100%{
        background-color:#E4E4E4;
    }
}


@keyframes to-darkboton{
    0%{
        background-color:#E4E4E4;
    }
    
    100%{
        background-color:#2A2E39;
    }
}